@import "components/toolbar";
@import "components/list";
@import "components/SearchFiled";

.UserCard-info {
    .item-discussion-stats {
        display: block;
        margin-top: 20px;
    }
}

.UserCard {
    .userStat {
        .icon {
            margin-right: 5px;
          }
    }
  }